* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 75px;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

#main-img {
    width: 80%;
    height: 400px;
    position: relative;
}

#container-side-img {
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.side-img {
    width: 100%;
    height: 20%;
    opacity: 0.5;
}

.active {
    opacity: 1 !important; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.btn-up-down {
    border-radius: 50%;
    width: 20%;
    background-color: rgb(228, 227, 227);
    border: none;
    cursor: pointer;
    padding: 5px;
}

#caret-up {
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translate(50%);
    z-index: 1;
}

#caret-down {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translate(50%);
    z-index: 1;
}

.p-abs {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    text-align: right;
}

.col-100 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}